@import "../theme.scss";
.bottom {
    position: relative;
    height: 95vh;
    display: grid;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}
.bottom_svg {
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 40em;
    margin-left: 45em;
}
.separator {
    position: absolute;
    width: 100%;
    top: -1px;
    left: 0;
}
.separator1,.separator2{
    fill:#273040;
    }
.separator2{
    fill-opacity:0.15;
    }
.separator3{
    fill:#fff;
    }
.contacts {
    position: relative;
    width: 45vw;
    left: 1vw;
    margin: 0 auto;
}
.contact1,.contact2,.contact4,.contact5{
    fill:#273040;
    }
.contact2,.contact3,.contact4,.contact5{
    stroke:#273040;
    stroke-miterlimit:10;
    }
.contact3{
    fill:none;
    stroke-width:6px;
    }
.contact4{
    font-size:31.28px;
    stroke-width:1.4px;
    font-family:MyriadPro-Regular, Myriad Pro;
    }
.contact5{
    fill-rule:evenodd;
    }
.text_contact{
    position: relative;
    left: 0.5vw;
}