@import "../theme.scss";

.pickupline {
  @include theme-aware('background', 'color-secondary');
  min-height: 90vh;
  text-align: center;
  display: inline-grid;
  align-items: center;
  justify-content: center;
  
  .frame {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10vw;
    h4 {
      display: block;
      position: absolute;
      font-size: calc(10px + 1vmin);
    }
    path {
      @include theme-aware('fill', 'color-primary');
      fill-opacity: 0.3;
    }
  }
  .footer {
    width: 100vw;
    fill: none;
    path {
      @include theme-aware('stroke', 'color-primary');
      opacity: 0.7;
      stroke-width: 3px;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}