@import "./theme.scss";
.bottom {
    position: relative;
    height: 60vmin;
    display: grid;
    align-content: center;
    text-align: center;
}
.bottom_svg {
    width: auto;
    align-self: center;
    justify-self: center;
    margin: 40em;
    margin-left: 45em;
}
footer{
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      .frame {
        @include theme-aware('fill', 'color-secondary');
      }
      .sub-frame {
        fill-opacity: 0.15;
      }
      .button{
        @include theme-aware('fill', 'color-light');
      }
    }
  }
.separator {
    position: absolute;
    top: -1px;
}
.separator1,.separator2{
    fill:#273040;
    }
.separator2{
    fill-opacity:0.15;
    }
.separator3{
    fill:#fff;
    }
.contacts {
    position: relative;
    height: 15em;
    left: 27em;
}
.contact1,.contact2,.contact4,.contact5{
    fill:#273040;
    }
.contact2,.contact3,.contact4,.contact5{
    stroke:#273040;
    stroke-miterlimit:10;
    }
.contact3{
    fill:none;
    stroke-width:6px;
    }
.contact4{
    font-size:31.28px;
    stroke-width:1.4px;
    font-family:MyriadPro-Regular, Myriad Pro;
    }
.contact5{
    fill-rule:evenodd;
    }