@import "./theme.scss";

.home {
  text-align: center;
  
  header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }
  .circles {
    position: absolute;
    height: 85vmin;
    pointer-events: none;

    .st1 {
      clip-path:url(#SVGID_2_);
      fill:#786A62;
    }
    .st2{clip-path:url(#SVGID_4_);}
    .st3{fill:#766961;}
    .st4{fill:#756860;}
    .st5{fill:#746760;}
    .st6{fill:#73665F;}
    .st7{fill:#71655E;}
    .st8{fill:#70635D;}
    .st9{fill:#6F625D;}
    .st10{fill:#6D615C;}
    .st11{fill:#6C605B;}
    .st12{fill:#6B5F5A;}
    .st13{fill:#6A5E5A;}
    .st14{fill:#685D59;}
    .st15{clip-path:url(#SVGID_6_);}
    .st16{opacity:0.8;}
    .st17{
      fill:none;
      stroke:#42210B;
      stroke-width:5;
      stroke-linecap:round;
      stroke-linejoin:round;
      stroke-dasharray: 12, 12;
    }
  }
  
  footer{
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      .frame {
        @include theme-aware('fill', 'color-secondary');
      }
      .sub-frame {
        fill-opacity: 0.15;
      }
      .button{
        @include theme-aware('fill', 'color-light');
      }
    }
  }
}

// max-width 600
@media (max-width: 600px) {
  .home-circles-text-h1{
    position: absolute;
    font-size: 1.2rem;
    letter-spacing: 0.50rem; 
  }
  .home-circles-text-h3{
    font-size: 1rem;
    text-shadow: 1px 1px 1px black;
    top: 15vmin;
    position: relative;
    letter-spacing: 0.20rem;
  }
  .home-Button {
    position: absolute;
    bottom: 1rem;
  }
}