@import "./theme.scss";

.portfolio {
    height: 95vh;
    @include theme-aware('background-color', 'color-secondary');
    
    .header {
        width: 100vw;
        fill: none;
        path {
          @include theme-aware('stroke', 'color-primary');
          opacity: 0.7;
          stroke-width: 3px;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
      }
    }
}