@import "./theme.scss";

.portfolio {
    height: 95vh;
    @include theme-aware('background-color', 'color-secondary');
    
    .header {
      width: 100vw;
      fill: none;
      path {
        @include theme-aware('stroke', 'color-primary');
        opacity: 0.7;
        stroke-width: 3px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }
    ul {
      display: flex;
      padding: 10vw;
      li {
        padding: 3vw;
        img {
          height: 10vh;
        }
        h4, a {
          font-size: calc(10px + 1.5vmin);
          text-decoration: none;
        }
        p {
          font-size: calc(10px + 1vmin);
          }
      }
    }
  }
